<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3><%= t('view.team_edit') %></h3>
        <%= form_with(model: @team, local: true) do |form| %>
          <%= render :partial => 'form', :locals => {:form => form, :edit_flag => true} %>
        <% end %>
    </div>
  </div>
</div>
