<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.team_index') %></h2>
      <%= link_to t('view.team_create'), new_team_path, class: "btn btn-success" %>
      <br>
      <br>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th><div class="text-center"><%= t('view.team_name') %></div></th>
          </tr>
        </thead>
        <tbody>
          <% @teams.each do |team| %>
          <tr>
            <td ><div class="text-center"><%=link_to team.name, team_path(team) %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
