<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>チーム一覧Teams#index</h2>
      <%= link_to "新規チーム作成", new_team_path, class: "btn btn-success" %>

      <% @teams.each do |team| %>
        <div class="form-group"></div>
          <label>チーム名</label>
            <%=link_to team.teamname, team_path(team) %>
      <% end %>
    </div>
  </div>
</div>
