<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.business_edit') %></h2>
      <%= render 'form', business: @business %>
      <%= link_to t('view.show'), @business %> |
      <%= link_to t('view.back'), users_path %>
    </div>
  </div>
</div>
