<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><span class="text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="出退勤を管理するものでは<br/>ありません!"><%= t('view.business_new') %></span></h2>
      <%= render 'form', business: @business %><br />
      <%= link_to t('view.back'), businesses_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
