<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.blog_edit') %></h2>
      <%= render 'form', blog: @blog %>
      <%= link_to t('view.edit'), @blog %> |
      <%= link_to t('view.back'), blogs_path %>
    </div>
  </div>
</div>
