<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>コメント新規投稿blogs#new</h2>

      <%= render 'form', blog: @blog %>
      <%= link_to '戻る', blogs_path , class: "btn btn-outline-success"%>
    </div>
  </div>
</div>
