<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.work_edit') %></h2>
      <%= form_with(model: @work, local: true) do |form| %>
      <br>
      <%= render :partial => 'form', :locals => {:form => form, :edit_flag => true} %>
      <% end %>
    </div>
  </div>
</div>
