<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>作業内容編集works#show</h2>
      <%= render 'form' %>
  <br>
  <div class="submit">
     <%= form.submit "編集", class: "btn btn-success" %>
     <%= link_to "戻る", works_path, class: "btn btn-outline-success" %>
  </div>

    </div>
  </div>
</div>
