<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>ユーザ一覧Users#index</h2>

      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th><div class="text-center">ユーザー名</div></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td ><div class="text-center"><%= user.username %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
