<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto" style="text-align: center">
      <h3>Welcome to <strong>TeamWORK</strong>!</h3>

      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success btn-lg btn-block" %>
      <br>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success btn-lg btn-block" %>
    </div>
  </div>
</div>
